
@{
    ViewBag.Title = "BadRequest";
}

<div class="row">
    <div class="col-md-4">
        <h2>I'm bad, I'm bad ... fuck it... Rape me!</h2>
    </div>
    <div class="col-md-8">
        <img src="~/Content/SiteImages/bad-request.jpeg" />
    </div>
</div>

