
@{
    ViewBag.Title = "Forbidden";
}

<div class="row">
    <div class="col-md-4">
        <h2>Forbidden fruit...almost</h2>
    </div>
    <div class="col-md-8">
        <img src="~/Content/SiteImages/forbidden-donut.gif" />
    </div>
</div>

