
@{
    ViewBag.Title = "InternalServerError";
}

<div class="row">
    <div class="col-md-4">
        <h2>Shit happens</h2>
    </div>
    <div class="col-md-8">
        <img src="~/Content/SiteImages/internal-server-simpson.jpg" />
    </div>
</div>

