
@{
    ViewBag.Title = "NotAuthorized";
}

<div class="row">
    <div class="col-md-4">
        <h2>Have you permission?</h2>
    </div>
    <div class="col-md-8">
        <img src="~/Content/SiteImages/not-authorized.jpg" />
    </div>
</div>

