@using BeerApp.Web.ViewModels.Beer;

@model ICollection<BeerResponseViewModel>
@{
    ViewBag.Title = "All";
}

<h2>Beers</h2>

@foreach (var beer in Model)
{
    <div class="col-md-6">
        @Html.Partial("_ExtendedBeerPartial", beer)
    </div>
}

