@using BeerApp.Web.ViewModels.Country;

@model ICollection<SimpleCountryResponseViewModel>

@{
    ViewBag.Title = "All";
}

<div class="row">
    <h2>Countries</h2>
    <h3>Beers from</h3>
    @foreach (var country in Model)
    {
        <div class="col-md-1">
            <img src="" alt="country-flag" />
        </div>
        <div class="col-md-3">
            <h3><a href="~/Country/Details/@country.Url">@country.Name</a></h3>
        </div>
    }
</div>
