@using BeerApp.Web.ViewModels.BeerType;

@model  ICollection<SimpleBeerTypeResponseViewModel>

@{
    ViewBag.Title = "All";
}
<div class="row">
    <h2>Beer Styles</h2>
    @foreach (var type in Model)
    {
        <div class="col-md-3">
            <h3><a href="~/BeerType/Details/@type.Url">@type.Name</a></h3>
        </div>
    }
</div>

