@model ICollection<BeerApp.Web.ViewModels.BeerType.BeerTypeResponseViewModel>

    @{
        ViewBag.Title = "All";
    }

    <h2>Recipes</h2>
<div class="row">
    @foreach (var type in Model)
    {
        <div class="col-md-4">
            <h4>for <a href="~/BeerType/Details/@type.Url">@type.Name</a> beer style</h4>
            <ul>
                @foreach (var recipe in type.Recipes)
                {
                    <li>
                        <h5>Recipe - <a href="~/Recipe/Details/@recipe.Url">@recipe.Title</a></h5>
                    </li>
                }
            </ul>
        </div>
    }
</div>
