<div class="form-group">
    @Html.Label("Photo", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="file" id="Photo1" name="files" class="very-special-file" />
    </div>
</div>

@section Scripts2{
    <script type="text/jscript">
        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                fileSize = $(fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb

                console.log(fileSize);
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        $(function () {


            $('.very-special-file').change(function () {
                var idSelector = '#' + event.srcElement.id;
                var file = getNameFromPath($(idSelector).val());
                if (file != null) {
                    var extension = file.substr((file.lastIndexOf('.') + 1));
                    console.log(extension);
                    switch (extension) {
                        case 'jpg':
                            flag = true;
                            break;
                        default:
                            flag = false;
                    }
                }
                if (flag == false) {
                    alert('hey stupid only jpg allowed');
                    var idSelector = '#' + event.srcElement.id;
                    $(idSelector).val('');
                    console.log(currentFileInput);
                    console.log('mn sum tupa');

                    return false;
                }
                else {
                    console.log(event.srcElement.id);
                    var idSelector = '#' + event.srcElement.id;
                    var size = GetFileSize(idSelector);

                    if (size > 1) {
                        alert('hey stupid no more than 1 mb');
                        $($(idSelector)).val('');
                    }
                }
            });

        });
</script>

    }
